*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: linear_gradient(
        to right,
        pink 0%,
        pink 50%,
        paleturquoise 50%,
        paleturquoise 100%
    );

}